.LandingMain {
    --color-violet: hsl(257, 40%, 49%);
    min-height: 100vh;
    background-color: var(--color-violet);
    background-image: url('./media//bg-desktop.svg');
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LandingNav {
    padding-left: 4rem;
}

.LandingSection {
    display: flex;
    padding: 1rem 8rem;
    margin: 10rem 0 5rem;
}

.LandingLeft {
    flex: 0 0 50%;
}

.LandingLeft img {
    display: block;
    width: 100%;
}

.LandingRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    padding-left: 15rem;
}

.LandingRight .LandingTitle {
    font-size: 4.2rem;
}

.LandingRight .LandingText {
    font-size: 2rem;
}

.LandingRight>*:not(:last-child) {
    width: 75%;
    margin-bottom: 4rem;
}

.LandingFooter {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 5rem;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 1400px) {
    .LandingSection {
        padding: 1rem 5rem;
    }
    .LandingRight {
        padding-left: 7.5rem;
    }
    .LandingRight .LandingTitle {
        font-size: 3.5rem;
        width: 100%;
    }
    .LandingRight .LandingText {
        width: 100%;
    }
}

@media only screen and (max-width: 1070px) {
    .LandingSection {
        flex-direction: column;
        margin: 5rem 0;
    }
    .LandingRight {
        align-items: center;
        margin-top: 5rem;
        padding-left: 0;
        text-align: center;
    }
    .LandingFooter {
        justify-content: center;
    }
    .LandingFooter svg:not(:last-child) {
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .LandingRight .LandingTitle {
        font-size: 3rem;
    }
    .LandingRight .LandingText {
        font-size: 1.7rem;
    }
}